*{
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    background-image:url(/GIST3.IMG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
   background-color: rgba(13, 223, 255, 0.103); 
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
   margin-top: 100px;
}
nav ul{
   width: 100%; 
   list-style: none;
   display: flex;
  /* justify-content: first baseline;*/
   align-items: center;
   justify-content: space-between;

}
nav li{
    height: 50px;
   
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
nav a:hover{
    background-color: rgba(216, 237, 241, 0.127);
    color: rgb(202, 187, 206);
}
/*nav li:first-child{
    margin-right: auto;
}*/

